body {
  overflow: hidden;
}

.take-screen {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: medium;
  overflow: hidden;
}

.content-mid-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-mid-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-start-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.content-start-vertical {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.bg-pangasinan {
  background-image: url("./assets/pangasinan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.gap-xlarge {
  gap: 56px;
}
.gap-medium {
  gap: 24px;
}
.gap-xsmall {
  gap: 6px;
}

input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: 9999px;
  background-color: white;
  outline: none;
  border: none;
  color: black;
  filter: drop-shadow(5px 5px 10px #000000);
}

input:focus {
  outline: none;
  border: none;
}

.side-panel-button {
  width: 100px;
  padding: 12px 48px;
  margin: 4px 0px;
  background-color: #2196f3;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.side-panel-button:hover {
  background-color: #3fa8ff;
  cursor: pointer;
}

.selected-button {
  background-color: #00467f;
}

button {
  padding: 12px 48px;
  font-size: 14px;
  background-color: #2196f3;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

button:hover {
  background-color: #3fa8ff;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
  filter: drop-shadow(5px 5px 10px #000000);
  font-size: 120px;
  height: fit-content;
}

h4 {
  margin: 0;
  padding: 0;
  color: white;
  filter: drop-shadow(5px 5px 10px #000000);
  font-size: 14px;
  height: fit-content;
}

.bg-orange {
  background-color: orange !important;
}

.bg-primary {
  background-color: #2196f3 !important;
}

.item-side-panel {
  height: 100%;
  width: 300px;
  position: relative;
}

.item-main-panel {
  height: 100%;
  width: 100%;
}

.profile-image {
  aspect-ratio: 0.97;
  object-fit: fill;
  width: 180px;
  height: 180px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  align-self: center;
  margin-top: 50px;
}

.profile-name {
  filter: drop-shadow(0px 5px 10px #242424bb);
  text-align: center;
  align-self: center;
  margin-top: 35px;
  font: 900 15px Roboto Flex, sans-serif;
  color: white;
}

hr {
  width: 100%;
  margin: 24px 64px;
  height: 1px;
  background-color: #cccccc;
}

.drop-shadow-large {
  filter: drop-shadow(5px 5px 10px #000000);
}

.header {
  background-color: #daf4fe;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
  text-align: center;
  padding: 15px 90px;
  font-family: Inter, sans-serif;
}

.header-title {
  color: #44caf9;
  text-shadow: 0px -2px 10px rgba(110, 110, 110, 0.305);
  font-size: 40px;
  font-weight: 700;
  padding: 2px;
}

.header-subtitle {
  color: #3d3d3d;
  font-size: 15px;
  font-weight: 500;
  margin-top: -30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  .header-title {
    font-size: 30px;
  }

  .header-subtitle {
    font-size: 12px;
  }

  .item-side-panel {
    width: 100%;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }

  input {
    width: 90%;
  }

  .side-panel-button,
  button {
    width: 100%;
  }

  .content-mid-horizontal,
  .content-start-horizontal {
    flex-direction: column;
    bottom: -150px;
    position: relative;
  }
}
