.take-screen {
  width: 100dvw;
  height: 100dvh;
  background-color: white;
  color: black;
  font-size: medium;
}

.content-mid-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-mid-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-start-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.content-start-vertical {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.bg-pangasinan {
  background-image: url("./assets/pangasinan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.gap-xlarge {
  gap: 56px;
}
.gap-medium {
  gap: 24px;
}
.gap-xsmall {
  gap: 6px;
}

/* INPUT CSS */
input {
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  border-radius: 9999px;
  outline: none;
  border: none;
  color: black;
  filter: drop-shadow(5px 5px 10px #000000);
}
input:focus {
  outline: none;
  border: none;
}

/* BUTTON CSS */
.side-panel-button {
  width: 100px;
  padding: 12px 48px;
  margin: 4px 0px;
  font-size: 14px;
  background-color: #2196f3;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-panel-button:hover {
  background-color: #3fa8ff;
  cursor: pointer;
}

.selected-button {
  background-color: #00467f;
}
button {
  padding: 12px 48px;
  font-size: 14px;
  background-color: #2196f3;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

button:hover {
  background-color: #3fa8ff;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
  filter: drop-shadow(5px 5px 10px #000000);
  font-size: 120px;
  height: fit-content;
}
h4 {
  margin: 0;
  padding: 0;
  color: white;
  filter: drop-shadow(5px 5px 10px #000000);
  font-size: 14px;
  height: fit-content;
}

/* BACKGROUNDS */

.bg-orange {
  background-color: orange !important;
}

.bg-primary {
  background-color: #2196f3 !important;
}

/* SIDE PANEL */

.item-side-panel {
  height: 100%;
  width: 300px;
}

/* MAIN PANEL */

.item-main-panel {
  height: 100%;
  width: 100%;
}

/* IMAGES */

.profile {
  margin: 12px 12px;
  border-radius: 9999px;
  background-color: red;
}

/* HR CSS */

hr {
  width: 100%;
  margin: 24px 64px;
  height: 1px;
  background-color: #cccccc;
}

.drop-shadow-large {
  filter: drop-shadow(5px 5px 10px #000000);
}
