.main {
    padding: 20px;
    max-height: 80vh; 
    overflow-y: auto; /* Enable vertical scrolling */
}


.settings-header {
    font-size: 40px; 
    font-weight: bold;
    margin-bottom: 40px;
    color: #3D3D3D; 

}

.setting-link {
    cursor: pointer;
    font-weight: bold;
    color: #4C4848; 
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
}

.section-description {
    font-size: 22px;
    color: #32ADE6; 
    margin-top: 5px;
    margin-left: 25px;
}

/* Profile Settings Container */
.profile-form-container {
    margin-left: 20px;
    padding: 20px;
    max-width: 700px;
    background-color: #DAF4FE;
    border-radius: 8px;
    font-size: 20px;
}

.input-name, .input-email, .input-contact {
    padding-left: 15px;
}

.label-name, .label-email, .label-contact {
    margin-left: 5px;
}

.save-button {
    background-color: #489ADC;
    margin-top: 20px;
}

/* Account Settings Container */
.account-form-container {
    margin-left: 20px;
    padding: 20px;
    max-width: 700px;
    background-color: #DAF4FE;
    border-radius: 8px;
    font-size: 20px;
}

.input-password, .input-recovery {
    padding-left: 15px;
}

.label-password, .label-recovery {
    margin-left: 5px;
}

.save-account {
    background-color: #489ADC;
    margin-top: 20px;
}

/* Help Center Container */
.help-center-container {
    margin-left: 20px;
    padding: 20px;
    max-width: 700px;
    background-color: #DAF4FE;
    border-radius: 8px;
    font-size: 20px;
}

h5 {
    color: #3D3D3D;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

ul {
    color: #489ADC;
    font-size: 25px;
}